# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build
/android/app/debug
/android/app/profile
/android/app/release

# flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# misc
.DS_Store
*.pem
*.class
*.log
*.swp
.history
.svn/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Android/iOS specific ignores (if needed)
**/android/app/src/main/res/raw/
**/ios/Runner/Assets.xcassets/
